@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

// :root {
//   font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
//   font-size: rem(16px);
//   line-height: 24px;
//   font-weight: 400;
//   color-scheme: light dark;
//   color: rgb(255 255 255 / 87%);
//   background-color: #242424;
//   font-synthesis: none;
//   text-rendering: optimizelegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-size-adjust: 100%;
// }

:root {
  background-color: darkslategray;
}
.maintext{
  font-family: 'Playfair Display', serif;
  font-size: 10 rem;
  margin-top: 40vh;
  display: flex;
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
}

.start {
  button {
    display: flex;
    position: fixed;
    margin: auto;
    text-align: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: transparent;
  }
}

.playerName {
  display: flex;
  position: fixed;
  margin: auto;
  text-align: center;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.goaway{
visibility: hidden;
}

.firststep {
  
  h2{
    display: flex;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
}

.option {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  margin: auto;
  height: fit-content;
  top: 60%;
}

.answeres{
  display: inline-block;
  width: 25%; 
  padding: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: dotted;
  background-color: transparent;
}

.submit{
  display: flex;
  position: absolute;
  width: 50%;
  justify-content: center;
  margin: auto;
  height: fit-content;
  top: 75%;
  left: 25%;
  border: dotted;
  background-color: transparent;
}